<ul class="nav nav-pills">
  <li class="nav-item">
    <a routerLink="/navigator" [queryParams]="{tab: '0'}" class="nav-link" routerLinkActive="active">Income</a>

  </li>
  <li class="nav-item">
    <a routerLink="/navigator" [queryParams]="{tab: '1'}" class="nav-link" routerLinkActive="active">Outcome</a>
  </li>
  <li class="nav-item">
    <a routerLink="/navigator" [queryParams]="{tab: '2'}" class="nav-link" routerLinkActive="active">Loans</a>
  </li>
  <li class="nav-item">
    <a routerLink="/navigator" [queryParams]="{tab: '3'}" class="nav-link" routerLinkActive="active">Investments</a>
  </li>
</ul>